package components

templ Index() {
	@Base("Pudasjärven Taksimatkat") {
		<div class="min-h-[80vh] flex flex-col justify-center ">
		<div class="bg-cover">
		<img class="min-h-64" src="./assets/taxi-pudasjarvi-hero.jpg" alt="" srcset="">
		</div>
		<div>
			<h2 class="text-2xl mb-8">Laadukasta taksipalvelua Pudasjärven alueella</h2>
		</div>
		</div>
		<section class="bg-slate-200 section">
			<h2 class="text-2xl mb-2">Tilaa taksi</h2>
			<div>
				<h3 class="">Pudasjärven keskusta</h3>
				<a href="tel:0400289760" target="_blank" rel="noopener noreferrer">0400 289 760</a>
			</div>
			<div>
				<h3 class="">Jaurakkajärvi, Puhos, Ervasti</h3>
				<a href="tel:0400386188" target="_blank" rel="noopener noreferrer">0400 386 188</a>
			</div>
		</section>

	}
}
